.footer {
	position: bottom;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:black;
   color: white;
}

.footer.social{
		text-align:center;
		padding-bottom:25px;
		color:grey;
}

.footer .social a{
	font-size: 24px;
	color: inherit;
	width:40px;
	height:40px;
	line-height: 38px;
	display: inline-block;
	text-align:center;
	border-radius:50%;
	margin:0 8px;
	opacity:0.9;
}

.footer .social a:hover{
	opacity: 0.9;
}

.footer ul{
	margin-top:0;
	padding:0;
	list-style:none;
	font-size:18px;
	line-height:1.6;
	margin-bottom:0;
}

.footer ul a{
	color: inherit;
	text-decoration:none;
	opacity:0.7;
}

.footer ul li{
	display:inline-block;
	padding:0 15px;
}

.footer ul li a:hover{
	opacity:1;
	
}

.footer .copyr{
	margin-top: 15px;
	text-align:center;
	font-size:13px;
	color:#aaa;
}